Xft.dpi: 144

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.transparent: 1
URxvt.font: 9x15bold,\
    -misc-fixed-bold-r-normal--15-140-75-75-c-90-iso10646-1,\
    -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1, \
    [codeset=JISX0208]xft:monospace:antialias=false, \
    xft:Code2000:antialias=false
URxvt.scrollBar: 0
URxvt.saveLines: 10000
! real transparency
URxvt.background: rgba:0000/0000/0000/ffff
URxvt.depth: 32
! fake transparency
URxvt.transparent: true
URxvt.shading: 20
